.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    height: var(--logo-size);
    width: var(--logo-size);
    margin: var(--logo-margin);
}

.logo-box {
    width: var(--logo-box);
}

.title-box {
    width: var(--title-box);
}

.nav-box {
    width: var(--nav-box);
    margin-top: var(--nav-box-margin-top);
}

.nav-item {
    margin-left: var(--nav-item-margin);
    margin-right: var(--nav-item-margin);
}

.nav-item > a {
    text-decoration: none;
    font-size: x-large;
}
