.custom-row {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.header.custom-row {
    height: var(--nav-bar-size);
    top: 0;
    border-bottom: var(--border);
    border-color: var(--border-color);
    padding-left: var(--nav-bar-padding);
    padding-right: var(--nav-bar-padding);
    background-color: var(--nav-bar-color);
}

.body.custom-row {
    top: var(--nav-bar-size);
    height: calc(100% - (var(--nav-bar-size) + var(--footer-size)));
}

.footer.custom-row {
    height: var(--nav-bar-size);
    bottom: 0;
    border-top: var(--border);
    border-color: var(--border-color);
    background-color: var(--footer-color);
}

.side-bar {
    position: absolute;
    height: 100%;
    transition: width var(--transition-time);
    background-color: var(--side-bar-color);
    overflow-y: auto;
    width: var(--side-bar-size-max);
}

.content {
    top: var(--nav-bar-size);
    height: 100%;
    border-left: var(--border);
    border-color: var(--border-color);
    padding-top: var(--content-padding-top);
    overflow-y: auto;
    width: calc(100% - var(--side-bar-size-max));
    margin-left: var(--side-bar-size-max);
    padding-left: var(--content-padding-min);
    padding-right: var(--content-padding-min);
}
