.part {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.header.part {
    height: var(--nav-bar-size);
    top: 0;
    padding-left: var(--nav-bar-padding);
    padding-right: var(--nav-bar-padding);
    background-color: var(--nav-bar-color);
}

.body.part {
    top: var(--nav-bar-size);
    height: calc(100% - calc(var(--nav-bar-size) + var(--footer-size)));
    border-top: var(--border);
    border-color: var(--border-color);
}

.footer.part {
    height: var(--footer-size);
    bottom: 0;
    border-top: var(--border);
    border-color: var(--border-color);
    background-color: var(--footer-color);
    padding-top: var(--nav-bar-padding);
    padding-left: var(--nav-bar-padding);
}

.side-bar {
    position: absolute;
    overflow: hidden;
    height: 100%;
    background-color: var(--side-bar-color);
    width: var(--side-bar-size);
    padding-top: var(--nav-bar-padding);
    padding-left: var(--nav-bar-padding);
    border-color: var(--border-color);
}

.side-bar.left {
    left: 0;
    border-right: var(--border);
}

.side-bar.right {
    right: 0;
    border-left: var(--border);
}

.content {
    top: var(--nav-bar-size);
    width: calc(100% - calc(2 * var(--side-bar-size)));
    left: var(--side-bar-size);
    height: 100%;
    overflow-y: auto;
    padding-top: var(--content-padding-top);
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
}
