:root {
    --border: solid 1px;
    --border-color: rgb(120, 120, 120);
    --transition-time: 300ms;

    --nav-bar-size: 70px;
    --nav-bar-padding: 25px;
    --nav-bar-color: rgb(198, 255, 196);
    
    --logo-box-size: 120px;

    --tabs-box-size: calc(100% - (var(--logo-box-size) + var(--settings-box-size)));
    --tabs-box-padding-left: 50px;
    --tab-margin: 20px;
    --tab-color: rgb(0, 0, 0);
    --tab-color-hover: rgb(120, 120, 120);
    --tab-color-selected: rgb(192, 64, 32);
    --active-tab-color: rgb(228, 107, 8);
    --active-sub-tab-color: rgb(255, 158, 78);

    --settings-box-size: 200px;

    --side-bar-color: rgb(250, 252, 130);
    --side-bar-size-min: 0px;
    --side-bar-size-max: 300px;

    --content-padding-top: 20px;
    --content-padding-min: 2%;
    --content-padding-max: 5%;
}
