:root {
    --border: solid 1px;
    --border-color: rgb(120, 120, 120);

    --nav-bar-size: 80px;
    --nav-bar-padding: 25px;
    --nav-bar-color: rgb(198, 255, 196);
    
    --logo-box-size: 120px;
    --logo-size: 50px;
    --logo-margin: 20px;

    --tabs-box-size: calc(100% - (var(--logo-box-size) + var(--settings-box-size)));
    --tabs-box-padding-left: 50px;
    --tab-margin: 20px;
    --tab-color: rgb(0, 0, 0);
    --tab-color-hover: rgb(120, 120, 120);
    --tab-color-selected: rgb(192, 64, 32);
    --active-tab-color: rgb(228, 107, 8);
    --active-sub-tab-color: rgb(255, 158, 78);

    --side-bar-color: rgb(250, 252, 130);
    --side-bar-size: 300px;

    --content-padding-top: 20px;
    --content-padding: 5%;

    --footer-size: 50px;
    --footer-color: rgb(194, 129, 247);
}
