:root {
    --border: solid 1px;
    --border-color: rgb(120, 120, 120);

    --nav-bar-size: 80px;

    --logo-size: 50px;
    --logo-margin: 20px;
    --logo-box: 10%;
    --title-box: 25%;
    --nav-box: calc(100% - calc(var(--logo-box) + var(--title-box)));
    --nav-box-margin-top: 30px;
    --nav-item-margin: 20px;

    --side-bar-size: 500px;

    --footer-size: 50px;
    --footer-margin: 10px;

    --page-margin: 30px;
}
