
<link rel="stylesheet" href="themes/bob-bikini-bottom.css" />
<link rel="stylesheet" href="themes/bob-bubbles.css" />
<link rel="stylesheet" href="themes/bob-positions.css" />

<audio autoplay loop>
  <source src="songs/theme-song.mp3" type="audio/mpeg" />
</audio>
<button id="audio" onclick="toggleAudio()">Turn music off</button>

  <div class="bubbles">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
<div id="carlos" class="character sad">
  <img src="images/sad/carlos-sad.png" alt="carlos" class="dance" />
</div>
<div id="patrick" class="character sad">
  <img src="images/sad/patrick-sad.png" alt="patrick" class="dance" />
</div>
<div id="bob" class="character sad">
  <img src="images/sad/bob-sad.png" alt="bob" class="dance" />
</div>

<script src="scripts/move.js"></script>
<script src="scripts/audio-control.js"></script>