.character {
    position: fixed;
    cursor: move;
    z-index: 1;
    bottom: 0;
    height: 190px;
    width: 140px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

#bob {
    right: 25%;
    bottom: 35px;
    
}

#patrick {
    right: 15%;
    bottom: 35px;
}

#carlos {
    right: 6%;
    bottom: 20px;
}

#bob > img.sad {
    height: 140px;
}

#patrick > img.sad {
    height: 180px;
}

#carlos > img.sad {
    height: 200px;
    width: 90px;
    padding-bottom: 15px;
}

#bob > img.dance {
    animation: bobDance 0.8s infinite;
}

#carlos > img.dance {
    animation: carlosDance 0.7s infinite;
}

#patrick > img.dance {
    animation: patrickDance 0.85s infinite;
}

@keyframes patrickDance {
    0% { content: url("../images/dancing/patrick-dance-middle.png"); height: 180px; }
    50% { content: url("../images/dancing/patrick-dance-right.png"); height: 160px; }
    100% { content: url("../images/dancing/patrick-dance-middle.png"); height: 180px; }
}

@keyframes bobDance {
    0% { content: url("../images/dancing/bob-dance-left.png"); height: 165px; }
    25% { content: url("../images/dancing/bob-dance-middle.png"); height: 170px; }
    50% { content: url("../images/dancing/bob-dance-right.png"); height: 175px; }
    75% { content: url("../images/dancing/bob-dance-middle.png"); height: 170px; }
    100% { content: url("../images/dancing/bob-dance-left.png"); height: 165px; }
}

@keyframes carlosDance {
    0%  { content: url("../images/dancing/carlos-dance.png"); height: 220px; }
    50%  { content: url("../images/dancing/carlos-dance.png"); height: 230px; }
    100%  { content: url("../images/dancing/carlos-dance.png"); height: 220px; }
}

#audio {
    cursor: pointer;
}


@media screen and (max-width:900px){


    .character {
        position: fixed;
        cursor: move;
        z-index: 1;
        bottom: 0;
        height: 190px;
        width: 140px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    #bob {
        right:auto;
        bottom: 35px;
        
    }
    
    #patrick {
        margin: auto;
        right: 33%;
        bottom: 35px;
    }
    
    #carlos {
        left: auto;
        bottom: 20px;
    }



}

