.header {
	background-color: greenyellow;
}

.side-bar {
	background-color: rgb(221, 248, 179);
}

.content {
	background-color: rgb(177, 207, 129);
}

.footer {
	background-color: greenyellow;
}

.nav-item > a:hover {
    color: green;
}

.theme:hover {
    color: green;
}