.header {
	background-color: rgb(252, 186, 63);
}

.side-bar {
	background-color: rgb(255, 228, 177);
}

.content {
	background-color: rgb(230, 197, 137);
}

.footer {
	background-color: rgb(252, 186, 63);
}

.nav-item > a:hover {
    color: orangered;
}

.theme:hover {
    color: orangered;
}