* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1551A2;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 70px;
    margin: auto;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

header nav a:hover {
    color: #e9ff46;
    font-weight: bold;
    content: url(../images/burger.png);
}

header .logo {
    width: 50px;
    content: url("../images/pineapple.png");
    float: left;
    padding-left: 10px;
    cursor: pointer;
}

aside {
    display: none;
    position: relative;
}

main {
    margin-top: 70px;
    bottom: 25px;
    left: 0;
    right: 0;
    background: url(../images/backgrounds/bikinibottom.png) center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

article {
    margin: 25px;
    color: white;
    min-width: 500px;
    width: 100%;
    height: 100%;
}

.content {
    margin-left: 25%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    border-radius: 25px;
}

h1 {
    text-align: center;
}

p {
    padding: 10px;
}

footer {
    background-color: #1551A2;
    height: 30px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}

footer div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

footer a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width:900px) {
    header {

        display: flex;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem 3rem;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
        width: 100%;
        height: fit-content;
    }

    header .logo {
        position: static;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    main {
        margin-top: 120px;
    }

    footer {
        position: fixed;
        margin-bottom: 0px;
    }
}

/* Characters position */

.character {
    position: fixed;
    cursor: move;
    z-index: 1;
    bottom: 0;
    height: 190px;
    width: 140px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#patrick {
    right: 15%;
    bottom: 35px;
}

#patrick>.sad {
    content: url(../images/sad/patrick-sad.png);
    height: 180px;
}

@media screen and (max-width:900px) {

    .character {
        position: fixed;
        cursor: move;
        z-index: 1;
        bottom: 0;
        height: 190px;
        width: 140px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    #patrick {
        margin: auto;
        right: 33%;
        bottom: 35px;
    }
}